# Notebook 1 : Découverte de Pandas

In [22]:
import pandas as pd

## Iris

Nous considérons le jeu de données connu sous le nom des [Iris de Fisher](https://fr.wikipedia.org/wiki/Iris_de_Fisher). Répondez aux questions suivantes à l'aide du module Pandas.

1. Charger le jeu de données dans un dataframe `iris` à partir du fichier `iris.csv` et afficher le dataframe.

In [23]:
iris = pd.read_csv("data/iris.csv")
print(iris)

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

2. Sélectionner les variables `PetalWidth` et `Species`.

In [24]:
PetalWidth = iris["PetalWidth"]

Species = iris["Species"]

3. Extraire le sous-dataframe qui contient uniquement les iris des espèces `versicolor` ou `virginica`.

In [25]:
print(iris[((iris.Species == "versicolor") | (iris.Species == "virginica"))])

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
50           7.0         3.2          4.7         1.4  versicolor
51           6.4         3.2          4.5         1.5  versicolor
52           6.9         3.1          4.9         1.5  versicolor
53           5.5         2.3          4.0         1.3  versicolor
54           6.5         2.8          4.6         1.5  versicolor
..           ...         ...          ...         ...         ...
145          6.7         3.0          5.2         2.3   virginica
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica

[100 rows x 5 columns]

4. Compter le nombre d'iris de l'espèce `setosa`.

In [26]:
print(iris[(iris.Species == "setosa")].count())

SepalLength    50
SepalWidth     50
PetalLength    50
PetalWidth     50
Species        50
dtype: int64

5. Calculer la moyenne de la variable `PetalWidth` pour les iris de l'espèce `versicolor`.

In [27]:
versicolor = iris[(iris.Species == "versicolor")]
PetalWidth = versicolor["PetalWidth"]
print(PetalWidth.mean())

1.3259999999999998

6. Ajouter une variable `SumWidth` qui contient la somme des variables `PetalWidth` et `SepalWidth`.

In [28]:
iris["SumWidth"] = iris["PetalWidth"] + iris["SepalWidth"]

7. Calculer la moyenne et la variance de la variable `SepalLength` pour chaque espèce.

In [29]:
SepalLength = iris["SepalLength"]
moySL = SepalLength.mean()
varSL = SepalLength.var()

print(moySL)
print(varSL)

5.843333333333334
0.6856935123042507

8. Calculer la moyenne de toutes les variables pour chaque espèce. Afficher le résultat au format large et au format long.

In [48]:
print(
    # Remarquer la syntaxe de cet exemple
    iris
    .groupby(iris.Species)
    .agg( # NamedAgg permet de nommer les agrégations
        SepalLengthMean=pd.NamedAgg(column="SepalLength", aggfunc="mean"),
        SepalWidthMean=pd.NamedAgg(column="SepalWidth", aggfunc="mean"),
        PetalLengthMean=pd.NamedAgg(column="PetalLength", aggfunc="mean"),
        PetalWidthMean=pd.NamedAgg(column="PetalWidth", aggfunc="mean")
    )
)

print(
    iris
    .groupby(iris.Species)
    .agg("mean")
)

irisMean = iris.groupby(iris.Species).agg("mean")

print(irisMean)

print(irisMean.reset_index().melt(id_vars=["Species"], value_name="mean"))

            SepalLengthMean  SepalWidthMean  PetalLengthMean  PetalWidthMean
Species
setosa                5.006           3.428            1.462           0.246
versicolor            5.936           2.770            4.260           1.326
virginica             6.588           2.974            5.552           2.026
            SepalLength  SepalWidth  PetalLength  PetalWidth  SumWidth
Species
setosa            5.006       3.428        1.462       0.246     3.674
versicolor        5.936       2.770        4.260       1.326     4.096
virginica         6.588       2.974        5.552       2.026     5.000
            SepalLength  SepalWidth  PetalLength  PetalWidth  SumWidth
Species
setosa            5.006       3.428        1.462       0.246     3.674
versicolor        5.936       2.770        4.260       1.326     4.096
virginica         6.588       2.974        5.552       2.026     5.000
       Species     variable   mean
0       setosa  SepalLength  5.006
1   versicolor  SepalLength  5.936
2    virginica  SepalLength  6.588
3       setosa   SepalWidth  3.428
4   versicolor   SepalWidth  2.770
5    virginica   SepalWidth  2.974
6       setosa  PetalLength  1.462
7   versicolor  PetalLength  4.260
8    virginica  PetalLength  5.552
9       setosa   PetalWidth  0.246
10  versicolor   PetalWidth  1.326
11   virginica   PetalWidth  2.026
12      setosa     SumWidth  3.674
13  versicolor     SumWidth  4.096
14   virginica     SumWidth  5.000

## Houston flights

Nous considérons le jeux de données `hflights` relatif à des vols au départ des aéroports *Houston George Bush Intercontinental Airport* (IAH) et *William P. Hobby Airport* (HOU).

1. Charger le jeu de données dans un dataframe `hflights` à partir du fichier `hflights.csv`

In [31]:
hflights = pd.read_csv("data/hflights.csv")
print(hflights)

        Year  Month  DayofMonth  DayOfWeek  DepTime  ArrTime UniqueCarrier  \
0       2011      1           1          6   1400.0   1500.0            AA
1       2011      1           2          7   1401.0   1501.0            AA
2       2011      1           3          1   1352.0   1502.0            AA
3       2011      1           4          2   1403.0   1513.0            AA
4       2011      1           5          3   1405.0   1507.0            AA
...      ...    ...         ...        ...      ...      ...           ...
227491  2011     12           6          2   1818.0   2111.0            WN
227492  2011     12           6          2   2047.0   2334.0            WN
227493  2011     12           6          2    912.0   1031.0            WN
227494  2011     12           6          2    656.0    812.0            WN
227495  2011     12           6          2   1600.0   1713.0            WN

        FlightNum TailNum  ActualElapsedTime  ...  ArrDelay  DepDelay  Origin  \
0             428  N576AA               60.0  ...     -10.0       0.0     IAH
1             428  N557AA               60.0  ...      -9.0       1.0     IAH
2             428  N541AA               70.0  ...      -8.0      -8.0     IAH
3             428  N403AA               70.0  ...       3.0       3.0     IAH
4             428  N492AA               62.0  ...      -3.0       5.0     IAH
...           ...     ...                ...  ...       ...       ...     ...
227491       1191  N284WN              113.0  ...      -9.0       8.0     HOU
227492       1674  N366SW              107.0  ...       4.0       7.0     HOU
227493        127  N777QC               79.0  ...      -4.0      -3.0     HOU
227494        621  N727SW               76.0  ...     -13.0      -4.0     HOU
227495       1597  N745SW               73.0  ...     -12.0       0.0     HOU

       Dest Distance  TaxiIn  TaxiOut  Cancelled  CancellationCode Diverted
0       DFW      224     7.0     13.0          0               NaN        0
1       DFW      224     6.0      9.0          0               NaN        0
2       DFW      224     5.0     17.0          0               NaN        0
3       DFW      224     9.0     22.0          0               NaN        0
4       DFW      224     9.0      9.0          0               NaN        0
...     ...      ...     ...      ...        ...               ...      ...
227491  TPA      781     5.0     11.0          0               NaN        0
227492  TPA      781     4.0      9.0          0               NaN        0
227493  TUL      453     4.0     14.0          0               NaN        0
227494  TUL      453     3.0      9.0          0               NaN        0
227495  TUL      453     3.0     11.0          0               NaN        0

[227496 rows x 21 columns]

2. Sélectionner les variable `Dest`, `Distance`, `TaxiIn` et `TaxiOut` avec la méthode `filter`.

In [32]:
hflights.filter(items=["Dest", "Distance", "TaxiIn", "TaxiOut"])

       Dest  Distance  TaxiIn  TaxiOut
0       DFW       224     7.0     13.0
1       DFW       224     6.0      9.0
2       DFW       224     5.0     17.0
3       DFW       224     9.0     22.0
4       DFW       224     9.0      9.0
...     ...       ...     ...      ...
227491  TPA       781     5.0     11.0
227492  TPA       781     4.0      9.0
227493  TUL       453     4.0     14.0
227494  TUL       453     3.0      9.0
227495  TUL       453     3.0     11.0

[227496 rows x 4 columns]

3. Sélectionner les variables `DepTime`, `ArrTime`, `ActualElapsedTime` et `AirTime` avec la méthode `filter` et le paramètre `like`.

In [33]:
hflights.filter(like="Time")

        DepTime  ArrTime  ActualElapsedTime  AirTime
0        1400.0   1500.0               60.0     40.0
1        1401.0   1501.0               60.0     45.0
2        1352.0   1502.0               70.0     48.0
3        1403.0   1513.0               70.0     39.0
4        1405.0   1507.0               62.0     44.0
...         ...      ...                ...      ...
227491   1818.0   2111.0              113.0     97.0
227492   2047.0   2334.0              107.0     94.0
227493    912.0   1031.0               79.0     61.0
227494    656.0    812.0               76.0     64.0
227495   1600.0   1713.0               73.0     59.0

[227496 rows x 4 columns]

4. Ajouter une variable `ActualGroundTime` qui correspond à `ActualElapsedTime` moins `AirTime`.

In [51]:
hflights["ActualGroundTime"] = hflights["ActualElapsedTime"] - hflights["AirTime"]

5. Ajouter une variable `AverageSpeed` qui donne la vitesse moyenne du vol et ordonner la table selon les valeurs décroissantes de cette variable.

In [58]:
hflights["AverageSpeed"] = hflights["Distance"] / (hflights["AirTime"] / 60) # (hflights["ArrTime"] - hflights["DepTime"])

print(hflights.filter(items=["AverageSpeed", "Distance", "AirTime"]).sort_values(by="AverageSpeed", ascending=False))

        AverageSpeed  Distance  AirTime
147589    763.636364       140     11.0
8318      670.000000       469     42.0
34761     644.470588       913     85.0
185953    639.574468       501     47.0
40764     618.292683       845     82.0
...              ...       ...      ...
227134           NaN      1246      NaN
227153           NaN       239      NaN
227271           NaN       239      NaN
227302           NaN       359      NaN
227394           NaN       239      NaN

[227496 rows x 3 columns]

6. Sélectionner les vols à destination de `JFK`.

In [62]:
print(hflights[hflights.Dest == "JFK"])

        Year  Month  DayofMonth  DayOfWeek  DepTime  ArrTime UniqueCarrier  \
304     2011      1           1          6    654.0   1124.0            B6
305     2011      1           1          6   1639.0   2110.0            B6
306     2011      1           2          7    703.0   1113.0            B6
307     2011      1           2          7   1604.0   2040.0            B6
308     2011      1           3          1    659.0   1100.0            B6
...      ...    ...         ...        ...      ...      ...           ...
208752  2011     12          29          4   1541.0   1959.0            B6
208753  2011     12          30          5    634.0   1040.0            B6
208754  2011     12          30          5   1541.0   1957.0            B6
208755  2011     12          31          6    831.0   1251.0            B6
208756  2011     12          31          6   1544.0   2009.0            B6

        FlightNum TailNum  ActualElapsedTime  ...  Origin  Dest  Distance  \
304           620  N324JB              210.0  ...     HOU   JFK      1428
305           622  N324JB              211.0  ...     HOU   JFK      1428
306           620  N324JB              190.0  ...     HOU   JFK      1428
307           622  N324JB              216.0  ...     HOU   JFK      1428
308           620  N229JB              181.0  ...     HOU   JFK      1428
...           ...     ...                ...  ...     ...   ...       ...
208752        622  N206JB              198.0  ...     HOU   JFK      1428
208753        620  N317JB              186.0  ...     HOU   JFK      1428
208754        622  N296JB              196.0  ...     HOU   JFK      1428
208755        620  N247JB              200.0  ...     HOU   JFK      1428
208756        622  N323JB              205.0  ...     HOU   JFK      1428

       TaxiIn TaxiOut  Cancelled  CancellationCode  Diverted  \
304       6.0    23.0          0               NaN         0
305      12.0    11.0          0               NaN         0
306       6.0    12.0          0               NaN         0
307       9.0    31.0          0               NaN         0
308       3.0    12.0          0               NaN         0
...       ...     ...        ...               ...       ...
208752    7.0     8.0          0               NaN         0
208753    4.0    12.0          0               NaN         0
208754    5.0    10.0          0               NaN         0
208755    5.0    20.0          0               NaN         0
208756    4.0    11.0          0               NaN         0

        ActualGroundTime AverageSpeed
304                 29.0   473.370166
305                 23.0   455.744681
306                 18.0   498.139535
307                 40.0   486.818182
308                 15.0   516.144578
...                  ...          ...
208752              15.0   468.196721
208753              16.0   504.000000
208754              15.0   473.370166
208755              25.0   489.600000
208756              15.0   450.947368

[695 rows x 23 columns]

7. Compter le nombre de vols à destination de `JFK`.

In [63]:
print(hflights[hflights.Dest == "JFK"].count())

Year                 695
Month                695
DayofMonth           695
DayOfWeek            695
DepTime              677
ArrTime              677
UniqueCarrier        695
FlightNum            695
TailNum              695
ActualElapsedTime    673
AirTime              673
ArrDelay             673
DepDelay             677
Origin               695
Dest                 695
Distance             695
TaxiIn               677
TaxiOut              677
Cancelled            695
CancellationCode      18
Diverted             695
ActualGroundTime     673
AverageSpeed         673
dtype: int64

8. Agréger les données `hflights` pour obtenir :
- `n` : le nombre total de vols,
- `n_dest`: le nombre total de destinations distinctes,
- `n_carrier` : le nombre total de compagnies distinctes.

In [ ]:
n = len(hflights)
print(n)

#print(hflights.groupby(hflights.Dest).agg(["count"]))
#attention à count : compte les valeurs non vides
n_dest = len(hflights.Dest.unique())
print(n_dest)

n_carrier = len(hflights.UniqueCarrier.unique())
print(n_carrier)

227496
116
15

9. Agréger les données des vols de la compagnie `AA` pour obtenir :
- le nombre total de vols,
- le nombre total de vols annulés,
- la valeur moyenne de `ArrDelay`.

In [98]:
AA = hflights[hflights.UniqueCarrier=="AA"]

nb_vols_AA = len(AA)
print(nb_vols_AA)

AA_annule = AA[AA.Cancelled==1]
print(len(AA_annule["Cancelled"]))

print(AA["ArrDelay"].mean())

3244
60
0.8917558212712398

10. Calculer pour chaque compagnie :
- le nombre total de vols,
- la valeur moyenne de `AirTime`.

In [99]:
print(
    hflights
    .groupby(hflights.UniqueCarrier)
    .agg(
        NbVols=pd.NamedAgg(column="FlightNum", aggfunc="count"),
        AirTimeMean=pd.NamedAgg(column="AirTime", aggfunc="mean"),
    )
)

               NbVols  AirTimeMean
UniqueCarrier
AA               3244    69.652612
AS                365   254.184066
B6                695   183.985141
CO              70032   145.457873
DL               2641    97.801235
EV               2204   103.656766
F9                838   125.341346
FL               2139    92.706300
MQ               4648    93.839476
OO              16061   113.410684
UA               2072   157.406296
US               4082   133.856328
WN              45343    86.731341
XE              73053    83.222146
YV                 79   121.935897

11. Ordonner les compagnies en fonction des retards moyens au départ.

In [101]:
print(
    hflights
    .groupby(hflights.UniqueCarrier)
    .agg(
        DepDelayMean=pd.NamedAgg(column="DepDelay", aggfunc="mean"),
    )
    .sort_values(by="DepDelayMean")
)

               DepDelayMean
UniqueCarrier
YV                 1.538462
US                 1.622926
AS                 3.712329
FL                 4.716376
F9                 5.093637
AA                 6.390144
XE                 7.713728
OO                 8.885482
CO                 9.261313
DL                 9.370627
MQ                11.071745
EV                12.482193
UA                12.918707
B6                13.320532
WN                13.488241